/* 전체 */
.comment-section {
  max-width: 1000px;
  margin: 120px auto 0;

  text-align: left;
}

/* 댓글 - 글쓰기 부분 */
.comment-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  border-bottom: 2px solid #222;
}

.comment-header h2 {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 6px;
  padding-bottom: 2px;
}

.write-btn {
  border-radius: 5px;
  border: none;
  background-color: #388e3c;

  color: white;
  font-size: 16px;

  padding: 8px 24px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.write-btn:hover {
  background: #95d397;
  color: white;
}

/* -------- 댓글 -------- */
.comment-item {
  display: flex;
  align-items: flex-start;
  
  gap: 20px;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

/* 프로필 */
.comment-avatar {
  width: 50px;
  
  border-radius: 50%;

  object-fit: cover;
}

.comment-body {
  flex: 1;
}

.comment-info {
  font-size: 14px;
  color: #222;
  
}

.comment-user {
  font-size: 18px;
  font-weight: 700;
}

.divider {
  color: #999;
  margin: 0 10px;
}

.comment-text {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.icons span {
  font-size: 14px;
  color: #777;
  margin-right: 12px;
}

.modify-btn {
  background: none;
  border: none;
  color: #999;

  cursor: pointer;

  font-size: 14px;
}

.modify-btn:hover{
  color: #222;
}

.load-more {
  display: block;

  margin: 20px auto 0;
  background: none;
  border: none;

  color: #388e3c;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}
.load-more:hover {
  color: #a5d6a7;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-wrappers {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon-img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  vertical-align: middle;
  border: none;            
  outline: none;         
  background: none;        
  box-shadow: none;       
}

