body{
  margin: 0;
  padding: 0;
  background-color: #fcfaf6;
}

/* 네비게이션 전체 컨테이너*/
.header{
  display: flex;

  top: 0;

  align-items: center;
  justify-content: space-between;
  
  padding: 10px 40px;

  border-bottom: 1px solid #ddd;
  background-color: #fcfaf6;

  box-shadow: 0 2px 6px rgba(0,0,0, 0.05);
}

/* ----- 로고 ----- */
.logo{
  align-items: center;
}

.logo-img{
  width: 140px;
  height: 60px;
}

/*----- 중앙 메뉴 -----*/
.nav-menu{
  display: flex;
  gap: 50px;
}

/* 기본 상태*/
.nav-menu a{
  color: #666;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  
  position: relative;
  transition: color 0.1s ease;
}
.nav-menu a:hover{
  color: #000;
}

/* 오른쪽 위 동그라미 표시*/
.nav-menu a::after{
  content: "";
  position: absolute;
  
  top: -1px;
  right: -8px;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  border-color: #8bc34a;

  opacity: 0;

  background-color: #8bc34a;
  transition: all 0.2 ease;
}
.nav-menu a:hover::after{
  opacity: 1;
  transform: scale(1)
}

/* 활성화된 메뉴*/
  .nav-menu a.active{
  color: #000;
}

.nav-menu a.active::after{
  opacity: 1;
  transform: scale(1);
}

/*----- 오른쪽 아이콘 -----*/
.header-icons{
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.icon-wrapper{
  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
  cursor: pointer;
}

.icon-wrapper:hover{
  border-color: #6bbf59;
  box-shadow: 0 4px 12px rgba(107, 191, 89, 0.18);
}

.icon{
  font-size: 18px;
  color: #666;
  transition: color 0.2s ease;
}

.icon-wrapper:hover .icon{
  color: #000;
}

.icon-wrapper:focus-visible {
  outline: 2px solid #6bbf59;
  outline-offset: 3px;
}

/*----- 드롭다운 -----*/
.lang-dropdown{
  position:relative;
}

.globe-wrapper {
  border-color: #cfcfcf;
}

.globe-icon {
  font-size: 20px;
  color: #666;
  transition: color 0.2s ease;
}

.globe-wrapper:hover .globe-icon {
  color: #000;
}

.dropdown-menu{
  position: absolute;
  
  top: 22px;
  right: 0;

  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;

  list-style: none;

  padding: 8px 0;
  box-shadow: 0 2px 8px rgba(118, 187, 118, 0.23);

  width: 100px;
  z-index: 10;
}

.dropdown-menu li{
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #777
}

.dropdown-menu li:hover{
  background-color: #e9f7e4; /* 이부분 */
  color: #222;

  text-decoration: underline;
  text-underline-offset: 2px;
}
